<footer class="text-center">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>


            <!-- Instagram -->
            <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

            <!-- YouTube -->
            <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button"><i class="fab fa-youtube"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center">
        <a href="#">Tourmy Surf</a> &copy; 2021
    </div>
    <!-- Copyright -->
</footer>