* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.btn{
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid {
    overflow-x: hidden;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr .6fr .6fr .2fr .6fr .3fr;
    grid-template-areas: 
    "nav nav" 
    "shop-surfboards shop-surfboards" 
    "shop-fins shop-accessories" 
    "page-break page-break" 
    "recommend recommend" 
    "footer footer";
}

nav {
    grid-area: nav;
    padding: 10px 0px;
    
}

.navbar {
    padding: 0;
}

.bg-light {
    background: white;
}

.navbar-light .navbar-brand {
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 30px;
    background: black;
    color: white;
    padding: 1.5vw 5vw;    
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block;
    border-bottom: 5px solid #F8F9FA;
    /* Keep this because border bottom changes width of div */
    font-size: 22px;
}

.navbar-light .navbar-brand:hover {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
    border-bottom: 5px solid black;
    box-sizing: border-box;
    transition: .3s ease-in-out;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, .1);
    margin-right: 10px;
}

.navbar-collapse {
    text-align: center;
}

.nav-item:last-child {
    border-right: none;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.product-home:hover {
    opacity: .95;
    transition: .3s ease-in-out;
}

.featured-boards-panel {
    margin: 10px;
}

.featured-boards-panel:hover img {
    cursor: pointer;
    opacity: .5;
    transition: .3s ease-in-out;
}

.featured-boards-panel h2, .featured-boards-panel h6 {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#shop-surfboards {
    grid-area: shop-surfboards;
    position: relative;
    margin-bottom: 3px;
    cursor: pointer;
    max-height: 500px;
}

.shop-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    border: none;
    cursor: pointer;
}

.shop-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-size: 6vh;
    color: white;
    z-index: 1;
}

#shop-fins {
    grid-area: shop-fins;
    /* background: #18ffff; */
    position: relative;
    margin-right: 3px;
    cursor: pointer;
    max-height: 400px;
}

#shop-accessories {
    grid-area: shop-accessories;
    position: relative;
    cursor: pointer;
    max-height: 400px;
}

#page-break {
    grid-area: page-break;
    background: black;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

#featured-boards {
    grid-area: featured-boards;
}

#surfboard1 {
    grid-area: surfboard1;
}

#surfboard2 {
    grid-area: surfboard2;
}

#surfboard3 {
    grid-area: surfboard3;
}

#surfboard4 {
    grid-area: surfboard4;
}

footer {
    grid-area: footer;
    background: black;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .8px;
}

footer a, footer i, footer a:hover {
    color: white;
    text-decoration: none;
}

/* Product Shop Page */
.container-shop {
    display: grid;
    grid-template-columns: .7fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr .1fr .1fr .1fr 2.5fr .3fr;

    grid-template-areas: 
    "nav nav nav nav nav" 
    "breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb" 
    "sidebar collection-title collection-title collection-title collection-title" 
    "sidebar toolbar toolbar toolbar toolbar" 
    "sidebar shop-content shop-content shop-content shop-content" 
    "footer footer footer footer footer";
}

.breadcrumb {
    background: #F5F5F5;
    grid-area: breadcrumb;
    color: black;
    padding: 8px 9%;
}

.breadcrumb a {
    text-decoration: none;
    color: black;
    padding-right: 12px;
}

.breadcrumb span:last-child {
    font-weight: 700;
    padding-left: 12px;
    cursor: default
}

.collection-title {
    background: white;
    grid-area: collection-title;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 26px;
    padding: 0px 15px;
}

.sidebar {
    grid-area: sidebar;
    padding-left: 15px;
}

.sidebar h6 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .3px;
}

.toolbar {
    background: white;
    grid-area: toolbar;
    text-align: center;
    padding: 5px 15px;
}

.toolbar .filter-btn {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    height: auto;
    background: black;
    border-radius: 2px;
    border: none;
    letter-spacing: .5px;
    font-size: 15px;
    padding: 4px 12px;
    float: left;
    
}

.toolbar .num-results {
    text-align: center;
}

.toolbar .sort-by {
    float: right;
}

.shop-content {
    padding: 0;
    display: grid;
    grid-area: shop-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "product1 product2 product3" 
    "product4 product5 product6" 
    "product7 product8 product9";
}

.fin-item {
    grid-area: fin-item;
    width: 100%;
}

.fins-img {
    padding-left: 45px;
}

.product1 {
    grid-area: product1;
}

.product2 {
    grid-area: product2;
}

.product3 {
    grid-area: product3;
}

.product4 {
    grid-area: product4;
}

.product5 {
    grid-area: product5;
}

.product6 {
    grid-area: product6;
}

.product7 {
    grid-area: product7;
}

.product8 {
    grid-area: product8;
}

.product9 {
    grid-area: product9;
}

.product-img {
    max-width: 350px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.product-img, .product-name {
    cursor: pointer;
}

.product-name, .product-price, .product-desc {
    text-align: center;
}

.product-name {
    font-weight: 700;
    color: black;
    font-size: 28px;
}

.product-price {
    color: #B3B3B3;
    font-weight: 500;
    font-size: 14px;
}

.product-price {
    color: #0081C6;
    padding-bottom: 20px;
}

/* Show Page */
.container-show{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr .12fr .1fr .2fr 1.5fr 1.2fr .3fr;
    grid-template-areas: 
    "nav nav nav nav" 
    "breadcrumb breadcrumb breadcrumb breadcrumb" 
    "show-image show-image show-info show-info" 
    "image-carousel image-carousel show-info show-info" 
    "video video video video"
    "recommend recommend recommend recommend" 
    "footer footer footer footer";
}

.show-image{
    grid-area: show-image;
}

.show-image img{
    max-height: 500px;
    object-fit: contain;
}

.show-info{
    grid-area: show-info;
    border-left: 1px solid lightgray;
    padding:50px;
    font-family: 'Monsterrat', sans-serif;
}

.show-info h1{
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1.5px;
}

.show-info .show-btn{
    text-align: center;
}

.show-info .show-btn button{
    background: black;
    color:white;
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1.2px;
}

.image-carousel{
    grid-area: image-carousel;
    margin-left: auto;
    margin-right: auto;
}

.image-thumbnail{
    width: 80px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 0 8px;
}

img-thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.video{
    grid-area: video;
    position: relative;
    padding: 1.5vw 0px;
    background: black;
    margin-top: 10px;
    
  }
  .video iframe{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;    
    width: 65%;
    height: 93%; 
    display: block;
    margin: auto;
  }

.recommend{
    grid-area: recommend;
    text-align: center;
    border-top: 1px solid lightgray;
}

.recommend .header{
    padding-top: 20px;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    letter-spacing: 1.2px;
}

.recommended-boards{
    display: grid;
    grid-template-areas: 
        "surfboard1 surfboard2 surfboard3 surfboard4";
}

.container-cart {
    overflow-x: hidden;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr .1fr .2fr 1.5fr .3fr;
    grid-template-areas: 
    "nav nav nav" 
    "breadcrumb breadcrumb breadcrumb"
    "collection-title collection-title cart-summary"
    "cart-items cart-items cart-summary"
    "footer footer footer";
}

.cart-items{
    grid-area: cart-items;
    padding: 0px 35px;
}

.cart-items .item{
    grid-area: item;
    padding-bottom: 30px;
    border-bottom: 1px solid #B3B3B3;
    margin: 20px 0px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr .2fr;
    grid-auto-rows: auto;
    grid-template-areas: "cart-image cart-name cart-qty cart-price";
}

.cart-items .item:last-child{
    border-bottom: none;
}

.item .cart-image{
    grid-area: cart-image;
    height: 150px;
    width: 150px;
}

.item .cart-name{
    grid-area: cart-name;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item .cart-name a{
    color: black;
}

.item .cart-name a:hover{
    text-decoration: underline;
}

.item .cart-qty{
    grid-area: cart-qty;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .cart-price{
    grid-area: cart-price;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item .cart-remove{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cart-qty i{
    font-size: 12px;
    cursor: pointer;
}

.cart-items .cart-remove:hover{
    cursor: pointer;
    color:red;
    transition: .2s ease-in-out;
}

.cart-qty input{
    width: 45px;
    height: 30px;
    margin: 0px 10px;
    text-align: center;
}


.cart-summary{
    grid-area: cart-summary;
    background: black;
    font-family: 'Montserrat', sans-serif;
    padding: 40px 25px;
    color:white;
    text-transform: uppercase;
    font-weight: 600;
    height: fit-content;
    margin: 20px 15px 20px 50px;
    width: 80%;
}

.cart-summary p {
    border-bottom: 1px solid #444;
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}

.cart-summary p:first-child{
    font-size: 25px;
}

.cart-summary .btn-checkout{
    background: white;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 55px; 
    display: block;
    margin: 0 auto;
}

/*Large Tablets */
@media only screen and (max-width: 1366px) {
    .container-fluid{
        grid-template-rows: .1fr .3fr .3fr .2fr .7fr .3fr;
    }
    .container-shop {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr .1fr .1fr .2fr 3fr .4fr;
        grid-template-areas: 
            "nav" 
            "breadcrumb" 
            "collection-title" 
            "toolbar" 
            "shop-content" 
            "footer";
    }
    .container-show{
        grid-template-rows: .2fr .12fr .1fr .1fr 1fr 1fr .28fr;
    }
    .sidebar {
        display: none;
    }
    .breadcrumb {
        padding: 8px 15px;
    }

    .product-img {
        height: 70%;
    }

    .show-info{
        padding:10px;
        font-size: 1.5vw;
    }

    .video{
        padding: 2.5vw 0px;
    }
    .video iframe{
        width: 70%;
        height: 100%;
    }
}

/* Mini Tablets */
@media only screen and (max-width: 768px) {
    .container-fluid{
        grid-template-rows: .1fr .6fr .6fr .4fr 2fr .3fr;
    }
    .container-shop {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .15fr .1fr .1fr .1fr 3fr .2fr;
        grid-template-areas: 
            "nav nav" 
            "breadcrumb breadcrumb" 
            "collection-title collection-title" 
            "toolbar toolbar" 
            "shop-content shop-content" 
            "footer footer";
    }
    .recommended-boards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .3fr .3fr;
        grid-template-areas: 
            "surfboard1 surfboard2"
            "surfboard3 surfboard4";
    }
    .sidebar {
        display: none;
    }
    .shop-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "product1 product2" 
            "product3 product4"
            "product5 product6" 
            "product7 product8" 
            "product9 placeholder";
    }
    .container-show{
        /* grid-template-rows: .2fr .1fr .5fr .2fr 1fr .8fr; */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: .1fr .08fr .4fr .2fr .7fr 1.5fr .25fr;
        grid-template-areas: 
        "nav nav nav nav" 
        "breadcrumb breadcrumb breadcrumb breadcrumb" 
        "show-image show-image show-info show-info" 
        "image-carousel image-carousel show-info show-info" 
        "video video video video"
        "recommend recommend recommend recommend" 
        "footer footer footer footer";
    }
    .image-thumbnail{
        width: 70px;
    }
    .show-info{
        padding:10px;
        font-size: 2vw;
    }
    .video iframe{
        width: 85%;
    }

    .container-cart {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .1fr .2fr .2fr 1fr .8fr .3fr;
        grid-template-areas: 
        "nav nav nav" 
        "breadcrumb breadcrumb breadcrumb"
        "collection-title collection-title collection-title"
        "cart-items cart-items cart-items"
        "cart-summary cart-summary cart-summary"
        "footer footer footer";
    }
}

/* Phones */
@media only screen and (max-width: 590px) {
    .container-fluid {
        grid-template-columns: 1fr;
        grid-template-rows: .1fr .5fr .5fr .5fr .2fr 5fr .4fr;
        grid-template-areas: 
            "nav" 
            "shop-surfboards" 
            "shop-fins" 
            "shop-accessories" 
            "page-break" 
            "recommend" 
            "footer";
    }

    .container-shop {
        grid-template-columns: 1fr;
        grid-template-rows: .1fr .1fr .1fr .1fr 5fr .2fr;
        grid-template-areas: 
            "nav" 
            "breadcrumb" 
            "collection-title" 
            "toolbar" 
            "shop-content" 
            "footer";
    }

    .num-results{
        display: none;
    }


    #shop-fins {
        margin-right: 0px;
        margin-bottom: 3px;
    }
    #page-break .col {
        padding: 25px;
    }
    .navbar-light .navbar-brand {
        /* padding-left: 10px; */
        background: #F8F9FA;
        color: black;
        height: auto;
        text-align: center;
    }

    .recommended-boards{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "surfboard1"
            "surfboard2"
            "surfboard3"
            "surfboard4";
    }

    .container-show{
        grid-template-columns: 1fr;
        grid-template-rows: .05fr .01fr .25fr .05fr .22fr .4fr 3fr .25fr;
        grid-template-areas: 
            "nav" 
            "breadcrumb" 
            "show-image" 
            "image-carousel"
            "show-info" 
            "video"
            "recommend" 
            "footer";
    }

    .product-img{
        object-fit: contain;
    }

    .video iframe{
        width: 90%;
    }

    .show-info{
        padding:10px;
        font-size: 3.2vw;
    }

    .cart-items{
        padding: 0px;
    }

    .cart-qty i {
        display: none;
    }

    .container-cart {
        grid-template-columns: 1fr;
        grid-template-rows: .1fr .1fr .1fr .7fr 1fr .3fr;
        grid-template-areas: 
        "nav" 
        "breadcrumb"
        "collection-title"
        "cart-items"
        "cart-summary"
        "footer";
    }

    .cart-items .item{
        margin: 20px 15px;
    }
    .item .cart-image{
        grid-area: cart-image;
        height: 100px;
        width: 100px;
    }
}

@media only screen and (max-width: 470px) {
    .shop-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "product1" 
            "product2" 
            "product3" 
            "product4" 
            "product5" 
            "product6" 
            "product7" 
            "product8" 
            "product9";
    }
    .show-info{
        padding:10px;
        font-size: 4vw;
    }
}

