<aside class="sidebar">
    <!-- Section: Categories -->

    <!-- Section: Category -->
    <section class="mb-4">

        <h6 class="font-weight-bold mb-3">Category</h6>

        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="leashes">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="leashes">Leashes</label>
        </div>
        <div class="form-check pl-0 mb-3 pb-1">
            <input type="checkbox" class="form-check-input filled-in" id="traction-pad">
            <label class="form-check-label small text-uppercase card-link-secondary" for="traction-pad">Traction
                Pad</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="wetsuits">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="wetsuits">Wetsuits</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="surf-wax">
            <label class="form-check-label small text-uppercase card-link-secondary" for="surf-wax">Surf
                Wax</label>
        </div>


    </section>
    <!-- Section: Category -->

    <!-- Section: Price -->
    <section class="mb-4">
        <h6 class="font-weight-bold mb-3">Price</h6>

        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="0-25">
            <label class="form-check-label small text-uppercase card-link-secondary" for="0-25">$0-$25</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="25-50">
            <label class="form-check-label small text-uppercase card-link-secondary" for="25-50">$25-$50</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="50-100">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="50-100">$50-$100</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="100+">
            <label class="form-check-label small text-uppercase card-link-secondary" for="100+">$100+</label>
        </div>
    </section>
    <!-- Section: Price -->

    <!-- Section: Gender -->
    <section class="mb-4">
        <h6 class="font-weight-bold mb-3">Gender</h6>

        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="mens">
            <label class="form-check-label small text-uppercase card-link-secondary" for="mens">Mens</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="womens">
            <label class="form-check-label small text-uppercase card-link-secondary" for="womens">Womens</label>
        </div>

    </section>
    <!-- Section: Gender -->
</aside>