<div class="sidebar">
    <!-- Section: Categories -->

    <!-- Section: Fin Setup -->
    <section class="mb-4">

        <h6 class="font-weight-bold mb-3">Fin Setup</h6>

        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="thruster">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="thruster">Thruster</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="quad">
            <label class="form-check-label small text-uppercase card-link-secondary" for="quad">Quad</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="twin">
            <label class="form-check-label small text-uppercase card-link-secondary" for="twin">Twin</label>
        </div>
        <div class="form-check pl-0 mb-3 pb-1">
            <input type="checkbox" class="form-check-input filled-in" id="single">
            <label class="form-check-label small text-uppercase card-link-secondary" for="single">Single</label>
        </div>

    </section>
    <!-- Section: Fin Setup -->

    <!-- Section: Template Category -->
    <section class="mb-4">
        <h6 class="font-weight-bold mb-3">Template Category</h6>

        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="rake">
            <label class="form-check-label small text-uppercase card-link-secondary" for="rake">Rake</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="neutral">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="neutral">Neutral</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="pivot">
            <label class="form-check-label small text-uppercase card-link-secondary" for="pivot">Pivot</label>
        </div>
    </section>
    <!-- Section: Template Category -->

    <!-- Section: Fin Size -->
    <section class="mb-4">
        <h6 class="font-weight-bold mb-3">Fin Size</h6>

        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="x-small">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="x-small">X-Small</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="small">
            <label class="form-check-label small text-uppercase card-link-secondary" for="small">Small</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="medium">
            <label class="form-check-label small text-uppercase card-link-secondary" for="medium">Medium</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="large">
            <label class="form-check-label small text-uppercase card-link-secondary" for="large">Large</label>
        </div>
    </section>
    <!-- Section: Fin Size -->

    <!-- Section: Fin Style -->
    <section class="mb-4">
        <h6 class="font-weight-bold mb-3">Style</h6>

        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="speed-gen">
            <label class="form-check-label small text-uppercase card-link-secondary" for="speed-gen">Speed
                Generating</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="Balanced">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="balanced">Balanced</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="speed-control">
            <label class="form-check-label small text-uppercase card-link-secondary" for="speed-control">Speed
                Control</label>
        </div>
    </section>
    <!-- Section: Fin Style -->
</div>