<div class="sidebar">
    <!-- Section: Categories -->

    <!-- Section: Board Type -->
    <section class="mb-4">

        <h6 class="font-weight-bold mb-3">Type</h6>

        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="shortboard">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="shortboard">Shortboard</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="longboard">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="longboard">Longboard</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="mid-length">
            <label class="form-check-label small text-uppercase card-link-secondary" for="mid-length">Mid
                Length</label>
        </div>
        <div class="form-check pl-0 mb-3 pb-1">
            <input type="checkbox" class="form-check-input filled-in" id="foam-board">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="foam-board">Foam</label>
        </div>

    </section>
    <!-- Section: Board Type -->

    <!-- Section: Skill Level -->
    <section class="mb-4">
        <h6 class="font-weight-bold mb-3">Skill Level</h6>

        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="beginner">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="beginner">Beginner</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="intermediate">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="intermediate">Intermediate</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="advanced">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="advanced">Advanced</label>
        </div>
    </section>
    <!-- Section: Skill Level -->

    <!-- Section: Brand -->
    <section class="mb-4">
        <h6 class="font-weight-bold mb-3">Brand</h6>

        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="Firewire">
            <label class="form-check-label small text-uppercase card-link-secondary"
                for="firewire">Firewire</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="lost">
            <label class="form-check-label small text-uppercase card-link-secondary" for="lost">Lost</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="hayden-shapes">
            <label class="form-check-label small text-uppercase card-link-secondary" for="hayden-shapes">Hayden
                Shapes</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="super-brand">
            <label class="form-check-label small text-uppercase card-link-secondary" for="super-brand">Super
                Brand</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="catch-surf">
            <label class="form-check-label small text-uppercase card-link-secondary" for="catch-surf">Catch
                Surf</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="other">
            <label class="form-check-label small text-uppercase card-link-secondary" for="other">Other</label>
        </div>
    </section>
    <!-- Section: Brand -->

    <!-- Section: Color -->
    <section class="mb-4">
        <h6 class="font-weight-bold mb-3">Color</h6>

        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="black">
            <label class="form-check-label small text-uppercase card-link-secondary" for="black">Black</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="white">
            <label class="form-check-label small text-uppercase card-link-secondary" for="white">White</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="blue">
            <label class="form-check-label small text-uppercase card-link-secondary" for="blue">Blue</label>
        </div>
        <div class="form-check pl-0 mb-3">
            <input type="checkbox" class="form-check-input filled-in" id="other">
            <label class="form-check-label small text-uppercase card-link-secondary" for="other">Other</label>
        </div>
    </section>
    <!-- Section: Color -->

</div>