<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
    <title>Tourmy Cart</title>
</head>

<body>
    <main class="">
        <%- include('../partials/navbar')%>
        <div class="breadcrumb"><a href="/">Home</a> <span>|</span> <span>Shopping Cart</span></div>
        <h1 class="collection-title">Shopping Cart</h1>


        <div class="cart-item">
            <img src="" alt="">
            <h4>Item Name</h4>
            <span>$4.99</span>
            <i class="far fa-trash-alt"></i>
        </div>

        <div class="cart-total">
            <span>Have a coupon code?</span>
            <span>Total</span>
            <span>$100.00</span>
        </div>

        <%- include('../partials/footer')%>
    </main>

    <%- include('../partials/bootstrap_cdn')%>
</body>

</html>